# Workflow to test upload-artifact action with 501 files split into 2 uploads
# This tests the 500 file limit mentioned in https://github.com/actions/upload-artifact

name: Upload Artifact Test - Split Upload

# Controls when the action will run. Workflow runs when manually triggered using the UI or API.
on:
  workflow_dispatch:

jobs:
  test-split-upload:
    name: Test uploading 501 files in two separate upload-artifact steps
    runs-on: ubuntu-latest

    steps:
      - name: Create 501 test files
        run: |
          mkdir -p test-files
          for i in {1..501}; do
            echo "This is test file number $i" > test-files/file-$i.txt
          done
          echo "Created $(ls test-files | wc -l) files"

      - name: Upload files 1-250
        uses: actions/upload-artifact@v4
        with:
          name: test-501-files-split-upload-part1
          path: |
            test-files/file-[1-9].txt
            test-files/file-[1-9][0-9].txt
            test-files/file-1[0-9][0-9].txt
            test-files/file-2[0-4][0-9].txt
            test-files/file-250.txt

      - name: Upload files 251-501
        uses: actions/upload-artifact@v4
        with:
          name: test-501-files-split-upload-part2
          path: |
            test-files/file-25[1-9].txt
            test-files/file-2[6-9][0-9].txt
            test-files/file-[3-4][0-9][0-9].txt
            test-files/file-50[0-1].txt
